In [275]:
#getDataS json asce top to bottom 

# {
#     "success": true,
#     "data": {
#         "o": null,
#         "h": null,
#         "l": null,
#         "c": null,
#         "v": null,
#         "t": null,
#         "oi": null,
#         "Time": null
#     },
#     "nextTime": 1723111195
# }

In [276]:
import json
import pandas as pd
from datetime import timedelta, datetime

def json_to_csv(file_path):
  """Converts JSON data from a file to a CSV file.

  Args:
    file_path: The path to the JSON file.

  Returns:
    None. Creates a CSV file named 'output.csv'.
  """

  with open(file_path, 'r') as f:
    data = json.load(f)

  df = pd.DataFrame(data['data'])
  df = df.rename(columns={"t": "time", "o": "open", "h": "high", "l": "low", "c": "close","v": "volume", "Time": "time_str"})
  # df['time'] = pd.to_datetime(df['time'], unit='s')  # Convert from Unix timestamps

  # df['time'] = pd.to_datetime(df['time'], utc=True)
  # df['time'] = df['time'] + timedelta(hours=5)
  df['time'] = pd.to_datetime(df['time_str'].str.split('+').str[0], format='%Y-%m-%dT%H:%M:%S')

  df.to_csv('ohlcv.csv', index=False)

# Example usage:
json_to_csv('data.txt')

In [277]:
import pandas as pd 

df = pd.read_csv("ohlcv.csv")

In [278]:
df.head(1)

,open,high,low,close,volume,time,oi,time_str
0,369.95,390.85,369.95,386.65,1300,2024-08-06 09:15:00,266975,2024-08-06T09:15:00+05:30

In [279]:
df.tail(1)

,open,high,low,close,volume,time,oi,time_str
4049,171.6,172.5,171.6,172.5,2300,2024-08-06 14:52:25,352200,2024-08-06T14:52:25+05:30